<div>
  <button class="btn btn-outline-primary me-3" (click)="get400Error()">
    Tet 400 Error
  </button>
  <button class="btn btn-outline-primary me-3" (click)="get401Error()">
    Tet 401 Error
  </button>
  <button class="btn btn-outline-primary me-3" (click)="get404Error()">
    Tet 404 Error
  </button>
  <button class="btn btn-outline-primary me-3" (click)="get500Error()">
    Tet 500 Error
  </button>
  <button
    class="btn btn-outline-primary me-3"
    (click)="get400ValidationError()"
  >
    Tet 400 Validation Error
  </button>

  @if (validationErrors.length > 0) {
  <div class="row mt-5">
    <ul class="text-danger">
      @for(error of validationErrors; track $index) {
      <li>{{ error }}</li>
      }
    </ul>
  </div>
  }
</div>
